# Bỏ môi trường ảo
venv/
.venv/

# Bỏ file biên dịch Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Bỏ log
*.log

# Bỏ file hệ thống
.DS_Store
Thumbs.db

# Bỏ các file test coverage
.coverage
htmlcov/

# Bỏ các file notebook checkpoint
.ipynb_checkpoints/

# Bỏ các file cache của tool
.mypy_cache/
.pytest_cache/

# Bỏ môi trường và cấu hình cục bộ
.venv/
venv/
env/
.env

# Bỏ file zip lớn
OneDrive_2_9-8-2026.zip

# Nếu có nhiều file zip
*.zip

# Bỏ dataset
dataset/
videos/